@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.each{
    /* position: fixed; */
    /* left: 40px; */
    /* padding: 40px; */
    /* padding-top: 60px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    list-style: none;
    text-decoration: none;
    text-align: left; 
    /* center; */
    color: #EB9187;
}

.each:hover {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #EB9187;
}